main {
  position: relative;
  min-height: 600px;
  .center-test {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  li {
    margin-left: 40px;
    line-height: 24px;
  }
  #blue-section {
    background-color: $company_darkblue;
    min-height: 100px;
    padding: 20px 0;
    color: #fff;
    .info-box {
      text-align: center;
      float: left;
      width: calc(100% / 3);
      padding: 0 40px;
      h2 {
        font-size: 3em;
        font-weight: 400;
      }
      p {
        font-size: 1.2em;
        line-height: 1.6em;
      }
    }
  }
}
